.grid{
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 20px;
    height: 20px;
    border: solid red;
    box-sizing: border-box;
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}
.green{
    background-color:green;
}
.brown{
    background-color: rgb(75, 2, 2);
}

body{
    align-content: center;
    text-align: center;
    background: pink;
}