
body{
    align-content: center;
    text-align: center;
    background:rgb(9, 9, 73);
}
.grid {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px; 
    overflow: hidden;
}

.grid div{
    width: 20px;
    height: 20px;
}

h1 {
    margin-bottom: -80px;
    margin-top: 100px;
    color: yellow;
    font-size: 60px;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 1000;
  font-style: normal;
}
  
h2,h3{
    color: yellow;
}

p{
    color: rgb(117, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.wallpoet-regular {
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.red{
    background-color: rgb(107, 5, 65);
}
.laberinto{
    content: url(./img/petal.png);
    background-color:rgb(2, 2, 83);
}

.paret{
    background-color:rgb(70, 70, 233);
}

.green{
    background-color:rgb(2, 66, 2);
}
.cami{
    background-color: rgb(75, 2, 2);
}
.princep{
content: url(./img/caballero1.png);
}
.princesa{
content: url(./img/princesa.png);
}
.rosa{
content: url(./img/rosa.png);
background-color: rgb(105, 105, 6);
}
.drac2{
content: url(./img/rojodragon.png);
}
.drac1{
content: url(./img/dragon.png);
}
.drac3{
content: url(./img/azuldragon.png);
}
.drac4{
content: url(./img/liladragon.png);
}
.drac-assustat{
content: url(./img/dracassustat.png);
}
