.grid{
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 20px;
    height: 20px;
}
.red{
    background-color: red;
}
.pink{
    background-color: rgb(210, 65, 89);
}
.blue{
    background-color: blue;
}
.green{
    background-color:green;
}
.brown{
    background-color: rgb(75, 2, 2);
}

body{
    align-content: center;
    text-align: center;
    background: pink;
}

.princep{
background-image: url(./img/caballero.png);
background: rgb(6, 6, 115);
}
.drac1{
background: red;
background-image: url(./img/rojodragon.png);
}
.drac2{
background: green;
background-image: url(./img/dragon.png);
}
.drac3{
background: blue;
background-image: url(./img/azuldragon.png);
}
.drac4{
background: violet;
background-image: url(./img/liladragon.png);
}
.drac-assustat{
background-image: url(./img/dracassustat.png);
background: white;
}
.paret{
    background-image: url(./img/paret.png);
}